.account {
  height: $underNavbar;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__section {
    width: 70%;
  }
}

.dashboard {
  height: $underNavbar;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
