.bgImage {
  background: url('/images/register-image.jpg');
  width: 100%;
  height: $underNavbar;
  background-size: cover;

  @include responsive(mobile) {
    display: none;
  }
  @include responsive(tablet) {
    display: none;
  }
}
